# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'




## => Site Settings
##############################

environemtn: "product"

text_color_theme: "dark" # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
url: # the base hostname & protocol for your site e.g. https://www.someone.com
baseurl: # does not include hostname
title:  "수원혼모노이현성"
description: > # this means to ignore newlines until "Language & timezone"
  ita9naiwa


## => Language and Timezone
##############################
lang: "en" # the language of your site, "en" (default, English), "zh"(简体中文), "zh-Hans"(简体中文), "zh-Hant"(繁體中文)
timezone: # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the available values


## => Author and Social
##############################
author:
  name: Hyunsung Lee
  email: ita9naiwa@gmail.com
  facebook: mendou12@naver.com
  github: ita9naiwa
  #twitter: # your Twitter username
  #linkedin: # your Linkedin username
  #googleplus: # your Google+ username
  #weibo: # your Weibo username
  #douban: # your Douban username


## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: ita9naiwa/ita9naiwa.github.io
repository_tree: master


## => Paths
##############################
paths:
  base: /


## => Post
##############################
## excerpt
excerpt_separator: <!--more-->
excerpt_type: html # text (default), html

## TOC
toc:
  selectors:  "h1,h2,h3,h4"

## Markdown Enhancements

# Mathjax
mathjax: true
mathjax_autoNumber:  true

# Mermaid
mermaid: # false (default), true

# Chart
chart: # false (default), true


## => Paginate
##############################
paginate:  6
paginate_path: /page:num # don't change this unless for special need


## => Sources
##############################
sources: # bootcdn (default), unpkg


## => Comments
##############################
## Disqus
disqus:
  shortname: "ita9naiwa"

## Gitalk
# please refer to https://github.com/gitalk/gitalk for more info.
gitalk:
  clientID: # GitHub Application Client ID
  clientSecret: # GitHub Application Client Secret
  repository: # GitHub repo
  owner: # GitHub repo owner
  admin: # GitHub repo owner and collaborators, only these guys can initialize GitHub issues, IT IS A LIST.
    # - your GitHub Id


## => Pageview
##############################
## Leancloud
leancloud:
  app_id: # LeanCloud App id
  app_key: # LeanCloud App key
  app_class: # LeanCloud App class


## => Analytics
##############################
## Google Analytics
ga_tracking_id: "UA-110195370-1"
ga_anonymize_ip: false


## => Build
##############################
markdown: kramdown
highlighter: rouge
permalink: date

exclude:
  - CHANGELOG.md
  - CHECKLIST.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README-*.md
  - README.md
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - package-lock.json
  - package.json
  - /docs
  - /node_modules
  - /screenshots
  - /test
  - /vendor

defaults:
  - scope:
      path: ""
      type: posts
    values:
      license: true
      aside:
        toc: true
      pageview: true


## => Plugins
##############################
plugins_dir:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji

gems: [jekyll-paginate]
